@using Parcels.Models;

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Shipping Calculator</title>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <h1>Your Shipping Information</h1>

    <h2>Shipping Cost: $@Model.CostToShip()</h2>
    <p>Thank you for using our shipping service.</p>
  </body> 
</html>